<!-- START NAVBAR -->
<nav class="navbar navbar-inverse">
<div class="container-fluid">
<div class="navbar-header">
  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
	<span class="sr-only">Toggle navigation</span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
  </button>
  <a class="navbar-brand" href="#">Moriah Art Fair</a>
</div>

<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
  <ul class="nav navbar-nav">
	<li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
	<li><a href="#">Link</a></li>
	<li class="dropdown">
	  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
	  <ul class="dropdown-menu" role="menu">
		<li><a href="#">Action</a></li>
		<li><a href="#">Another action</a></li>
		<li><a href="#">Something else here</a></li>
		<li class="divider"></li>
		<li><a href="#">Separated link</a></li>
		<li class="divider"></li>
		<li><a href="#">One more separated link</a></li>
	  </ul>
	</li>
  </ul>
  <form class="navbar-form navbar-left" role="search">
	<div class="form-group">
	  <input type="text" class="form-control" placeholder="Search">
	</div>
	<button type="submit" class="btn btn-default">Submit</button>
  </form>
  <ul class="nav navbar-nav navbar-right">
	<li><a href="#">Link</a></li>
  </ul>
</div>
</div>
</nav>
<!-- END NAVBAR -->

<div class="container">

	<div class="row">
		<div class="col-xs-12">
			<div class="panel panel-warning">
				<div class="panel-heading">
					<h4 class="panel-title">Add Artist</h4>
				</div>
				<div class="panel-body">
					<form class="form-horizontal">
					  <fieldset>
					  	<div class="form-group">
					      <label for="inputEmail" class="col-lg-2 control-label">First Name</label>
					      <div class="col-lg-10">
					        <input type="text" class="form-control" [(ngModel)]="artistForm.firstName" name="first" placeholder="John">
					      </div>
					    </div>

					    <div class="form-group">
					      <label for="inputEmail" class="col-lg-2 control-label">Last Name</label>
					      <div class="col-lg-10">
					        <input type="text" class="form-control" [(ngModel)]="artistForm.lastName" name="last" placeholder="Doe">
					      </div>
					    </div>

					    <div class="form-group">
					      <label for="inputEmail" class="col-lg-2 control-label">Username</label>
					      <div class="col-lg-10">
					        <input type="text" class="form-control" [(ngModel)]="artistForm.username" name="username">
					      </div>
					    </div>

					    <div class="form-group">
					      <label for="inputEmail" class="col-lg-2 control-label">Email</label>
					      <div class="col-lg-10">
					        <input type="email" class="form-control" [(ngModel)]="artistForm.email" name="email" placeholder="example@gmail.com">
					      </div>
					    </div>

					    <div class="form-group">
					      <label for="inputEmail" class="col-lg-2 control-label">Phone Number</label>
					      <div class="col-lg-10">
					        <input type="number" class="form-control" [(ngModel)]="artistForm.phoneNumber" name="phone">
					      </div>
					    </div>

					    <div class="form-group">
					      <label for="inputEmail" class="col-lg-2 control-label">Password</label>
					      <div class="col-lg-10">
					        <input type="password" class="form-control" [(ngModel)]="artistForm.password" name="password">
					      </div>
					    </div>

					    <div class="form-group">
					      <label for="inputEmail" class="col-lg-2 control-label">Signature</label>
					      <div class="col-lg-10">
					        <input type="text" class="form-control" [(ngModel)]="artistForm.signature" name="signature">
					      </div>
					    </div>
					    
					    <div class="form-group">
					      <div class="col-xs-12" style="text-align: center;">
					        <button type="submit" class="btn btn-primary" (click)="addArtist()">Submit</button>
					      </div>
					    </div>
					  </fieldset>
					</form>
				</div>
			</div>
		</div>
	</div>

	<!-- TABLE -->
	<div class="row">
		<div class="col-xs-12 hidden-xs">
			<h5>Artists</h5>
			<table class="table table-striped table-hover" width="100%">
			  <thead>
				<tr>
				  <th>First Name</th>
				  <th>Last Name</th>
				  <th>ID</th>
				  <th>Remove</th>
				</tr>
			  </thead>
			  <tbody>
				<tr class="success" *ngFor="let i = index; let artist of artists | async">
				  <td>{{artist.firstName}}</td>
				  <td>{{artist.lastName}}</td>
				  <td>{{artist._id}}</td>
				  <td><button class="btn btn-danger" (click)="removeArtist(i, artist)">Remove</button></td>
				</tr>
			  </tbody>
			</table> 
		</div>
	</div>
	<!-- TABLE -->

	<!-- TABLE -->
	<div class="row">
		<div class="col-xs-12">
		<h5>Volunteers</h5>
			<table class="table table-striped table-hover">
			  <thead>
				<tr>
				  <th>First Name</th>
				  <th>Last Name</th>
				  <th>ID</th>
				</tr>
			  </thead>
			  <tbody>
				<tr class="success" *ngFor="let volunteer of volunteers | async">
				  <td>{{volunteer.firstName}}</td>
				  <td>{{volunteer.lastName}}</td>
				  <td>{{volunteer._id}}</td>
				</tr>
			  </tbody>
			</table> 
		</div>
	</div>
	<!-- TABLE -->

	<!-- TABLE -->
	<div class="row">
		<div class="col-xs-12">
			<h5>Buyers</h5>
			<table class="table table-striped table-hover">
			  <thead>
				<tr>
				  <th>First Name</th>
				  <th>Last Name</th>
				  <th>ID</th>
				</tr>
			  </thead>
			  <tbody>
				<tr class="success" *ngFor="let buyer of buyers | async">
				  <td>{{buyer.firstName}}</td>
				  <td>{{buyer.lastName}}</td>
				  <td>{{buyer._id}}</td>
				</tr>
			  </tbody>
			</table> 
		</div>
	</div>
	<!-- TABLE -->

	<!-- TABLE -->
	<div class="row">
		<div class="col-xs-12">
			<h5>Orders</h5>
			<table class="table table-striped table-hover">
			  <thead>
				<tr>
				  <th>ID</th>
				  <th>Buyer</th>
				  <th>Artist</th>
				  <th>Volunteer</th>
				  <th>Price</th>
				</tr>
			  </thead>
			  <tbody>
				<tr class="success" *ngFor="let order of orders | async">
				  <td>{{order.refKey}}</td>
				  <td>{{order.buyer}}</td>
				  <td>{{order.artist}}</td>
				  <td>{{order.volunteer}}</td>
				  <td>${{order.price}}</td>
				</tr>
			  </tbody>
			</table> 
		</div>
	</div>
	<!-- TABLE -->


</div>










